[Unit]
Description=TACACS+ GUI deamon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
Group=www-data

WorkingDirectory=/opt/tacacsgui/
ExecStart=/opt/tacacsgui/venv/bin/python3 /opt/tacacsgui/run.py
Environment=PATH=/opt/tacacsgui/venv/bin

[Install]
WantedBy=multi-user.target
